.background {
  background-color: rgb(139, 143, 150);
  margin: -10px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(241, 75, 75);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
}

/* .A1 {
  font-weight: 100;
  align-items: center;
  display: flex;
  justify-content: center;

} */

.A1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
  padding-left: 30px;
}

.A2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  color: black;
}

.A3 {
  font-family: Poppins;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  font-size: medium;
  color: black;
}

.box-cont-A {
  background-color: white;
  color: #fff;
  opacity: 60%;
  margin: 0 auto;
  max-width: 1000px;

  border-radius: 10 px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -5px -5px 15px #ffffff;
}
