.boxcont2 {
  background-color: #ffffff;
  color: #080808;
  max-width: 80%;
  text-align: center;
  box-shadow: 0 24px 64px #26214a1a;
  border-radius: 12px;
  display: flex;
  margin: auto;
}
.table-container {
  width: 60%;
  margin: auto;
  border-radius: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
}
.table thead {
  background-color: #000000;
}
tbody tr:hover {
  background-color: #e7e7e7;
}

.table th {
  padding: 8px;
  text-align: left;
  color: #ffffff;
}
.table td {
  padding: 8px;
  text-align: left;
  color: #000000;
  border-bottom: 1px solid #020202;
}

.table th {
  background-color: #000000;
  font-weight: bold;
}

.table tr:last-child td {
  border-bottom: none;
}

.bottom {
  margin-bottom: auto;
}

.bttn {
  display: flex;
  margin: auto;
}

.Edit-btn {
  font-size: 17px;
  padding: 0.5em 1em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
}

.Edit-btn:hover {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.Edit-btn:active {
  transform: translate(0em, 0.2em);
}
