.box-cont-c {
  background-color: rgb(218, 3, 3);
  color: #e21c1c;
  opacity: 60%;
  margin: 0 auto;
  max-width: 850px;

  border-radius: 15px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #afacac, -5px -5px 15px #b8b3b3;
}
