.Addproduct {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* height: 80vh;
    padding-bottom: 20px; */
    max-width: 100%;
  }

.form-product{
    max-width: 100%;
    /* border-radius: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    /* border: 2px solid rgb(151, 148, 148); */
    /* width: 400px;S */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */

}

.add-btn{
    margin-left: 85px;
    margin-bottom: 10px;
    margin-top: 30px;
    color :rgb(22, 22, 22);
    background-color: rgb(237, 86, 86);
}

.add-btn:hover{
    background-color: rgb(244, 244, 244);
    color:rgb(0, 0, 0);
}
.proform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin-left: 40px;
}

.p1{
    margin-left:110px;
    margin-top: 20px;
    margin-bottom: 25px;
    
}

input{
    padding-top: 20px;
    padding: 10px;
    max-width: 80%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;   
}

.add2{
margin-top: 20px;
}

#dropdown-button-dark-example1{
    margin-bottom: 20px;
    margin-left: 80px;
}

.Editp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 40px;
  }
  
  .ModalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px;
  }
  
  .modal-content {
    height: 100%;
    border: none;
  }

  
  
#singlebutton{
    margin-right: 70px;
}

#singlebutton {
    font-size: 17px;
    padding: 0.5em 1em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: rgb(236, 75, 75);
    color: white;
    border-radius: 4px;
  }
  
  #singlebutton:hover {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(4, 4, 4) 0%, rgb(0, 0, 0) 100%);
  }
  
  #singlebutton:active {
    transform: translate(0em, 0.2em);
  }
  

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .dot {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #ddd;
  }
  
  .option:hover .dot {
    border-color: #007bff;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"]:checked + .option .dot {
    background-color: #007bff;
  }
  