.cont {
    background: linear-gradient(269.26deg, rgba(25, 5, 82, 1) 6.59%, rgba(5, 0, 19, 1) 100%);
}
.cont-0 {
    background-image: url(./wave\ \(1\).png);
}

.cont-1 {
    padding-left: 80px;   
}

.img-1 {
    display: flex;
    width: 450px;
    height: auto;
    margin-left: 780px;
    margin-top: -230px;
    border-radius: 8px;    
}

  .t-1 {
    max-width: 610px;
    
    font-size: 40px;
    font-family: sans-serif;
    color: rgb(247, 243, 243);
  }

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }


  .box-cont-A{
    color: #000000;
    /* opacity: 60%;  */
    margin: 0 auto; 
    max-width: 1000px; 

    background: #f9f9fa;
    box-shadow: 0 24px 64px #26214a1a;
    border-radius: 12px;
}

  .A1 {
    align-items: center;
    font-size: 36px;
    display: flex;
    justify-content: center;
    color: rgb(247, 6, 6);
    
  }
  
  .A2 {
    padding-left: 50px;
    padding-right: 50px ;
    text-align:center;
    word-spacing: 2px;
    font-size: 14px;
    opacity: 80%;
    color:rgb(0, 0, 0);
  }

  .aaa {
    padding-left: 40px;
  }

  
  
  .cont-3 {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin: auto;
    max-width: 75%;
    height: 200px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 24px 64px #26214a1a;
  }


  .kl{
    width: 10px;
  }


  .qa{
  padding-right: 5px;
}

.df{
  width: 5px;
}

.qw {
  padding-left: 1px;
  padding-bottom: 50px;
  width: 100px;
  height: 110px;
}





.image-grid {
    width: 20%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-right: 25px;
    margin-left: 80px;
    margin-top: 60px;
  }
  
  .image-grid-item img {
    width: 100%;
    /* height: auto; */
  }
  
  @media (max-width: 767px) {
    .image-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  