body {
    background-color: rgb(150, 191, 227);
}
.w3-content {
    max-width: 1200px;
    margin: auto;
}

header {
    margin-top: 50px;
}

h1 {
    text-align: center;
}

.w3-bar {
    margin-left: 380px ;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    
}

.w3-bar button {
  
    margin-right: 10px;
    font-size: 20px;
}

.w3-row-padding {
    margin-top: 50px;
}

.w3-half {
    width: 50%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.image-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 50%;
        
    
    

}



@media screen and (max-width: 600px) {
    .w3-half {
        width: 100%;
        float: none;
    }
}